h1 {
    font-family: Arial;
    font-size:30px;
    font-weight: bold;
    position: relative;
    left: 200px;
    
 }
 .technologyButton {
     border-radius: 10px;
     width:250px;
     text-align: center;
     position: relative;
     top:30px;
     padding: 15px;
     margin: 10px;
     box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.10);
     font-weight: bold;
  }

  #removeAll {
    border: none;
    background-color: transparent;
    text-decoration: underline;
    margin-left: 200px;
    color: red;
    cursor: pointer;
    padding: 10px;
  }

 .technologies {
    left: 200px;
  }

 input[type=text] {
        position:relative;
        border: solid black;
        border-radius: 5px;
        height:30px;
        border-width:1px;
        -webkit-transition: 0.5s;
        transition: 0.5s;
        outline: none;
        padding: 5px;
        width:250px;
        border-width:1px;
      }
      
      input[type=text]:focus {
        border: solid rgb(223,14,14);
        position:Relative;
        border-width:1px;
        
      }
.addButton {
   
    background-color: rgb(255, 204, 204);
    border:solid red;
    border-width:1px; 
    color:red;  
    position:Relative;  
    left:15px;
    border-radius:5px;
    cursor: pointer;
    padding: 12px;
    text-align: center;
    width:55px;
}
.addButton:hover {
    background-color: red;
    color:white;
    border:none;
    font-weight: bold;
}
